CittadinanzAttiva/resources/xml/xsd/prov.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="root">
	    <xs:complexType>
			<xs:sequence>
				<xs:element name="prov" maxOccurs="unbounded">
				    <xs:complexType mixed="true">
				        <xs:attribute name="id" type="xs:integer" use="required" />
				    </xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>